---
layout: page
title: Tags
permalink: /tags/
---

<div class="tags-page">
  {% assign tags = site.tags | sort %}
  <div class="tag-cloud">
    {% for tag in tags %}
      {% assign t = tag | first %}
      {% assign posts = tag | last %}
      <a href="#{{ t | downcase | replace:' ','-' }}" class="tag-link">
        {{ t }} <span class="tag-count">({{ posts.size }})</span>
      </a>
    {% endfor %}
  </div>

  <div class="tag-list">
    {% for tag in tags %}
      {% assign t = tag | first %}
      {% assign posts = tag | last %}
      <div class="tag-section">
        <h3 id="{{ t | downcase | replace:' ','-' }}" class="tag-title">{{ t }} <span class="tag-count">({{ posts.size }})</span></h3>
        <ul class="post-list">
          {% for post in posts %}
            {% if post.tags contains t %}
              <li class="post-item">
                <a href="{{ post.url }}" class="post-link">{{ post.title }}</a>
                <span class="post-date">{{ post.date | date: "%Y-%m-%d" }}</span>
              </li>
            {% endif %}
          {% endfor %}
        </ul>
      </div>
    {% endfor %}
  </div>
</div>