/*
 * Main stylesheet
 */

@import
  "minima/skins/themes",
  "minima/initialize";

.action-button {
    position: fixed;
    z-index: 1000;
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.cissp-button {
    top: 20px;
    right: 280px; /* Adjust based on your design */
}

.now-reading-button {
    top: 20px;
    right: 150px; /* Adjust based on your design */
}

.now-drinking-button {
    top: 20px;
    right: 20px; /* Adjust based on your design */
}

// 新添加的标签样式
.post-tags {
    margin-top: 20px;
    font-size: 0.9em;
}

.post-tags a {
    background-color: #f1f1f1;
    padding: 4px 8px;
    margin-right: 5px;
    border-radius: 3px;
    color: #333;
    text-decoration: none;
}

.post-tags a:hover {
    background-color: #e0e0e0;
}