/*
 * Main stylesheet
 */
---
---

@import "minima/initialize";

// 标签样式
.post-tags {
    margin-top: 20px;
    font-size: 0.9em;
}

.post-tags a {
    background-color: var(--background-color);
    padding: 4px 8px;
    margin-right: 5px;
    border-radius: 3px;
    color: var(--text-color);
    text-decoration: none;
    border: 1px solid var(--border-color-01);
    transition: background-color 0.2s;
}

.post-tags a:hover {
    background-color: var(--brand-color-light);
    color: var(--brand-color);
}